# based on https://github.com/realark/cl-sample-game/blob/master/azure-pipelines.yaml

trigger:
- master

variables:
  LISP: sbcl-bin


jobs:
  - job: 'Test'
    strategy:
      matrix:
        win:
          target: 'x86_64-windows-10'
          imageName: 'vs2017-win2016'
    pool:
      vmImage: $(imageName)
    steps:
      - powershell: |
            iwr -useb get.scoop.sh | iex
            scoop install roswell
            ros install %LISP%
            ros config
            mkdir "$Env:LOCALAPPDATA\config\common-lisp\source-registry.conf.d\"
            # $Env:dir = "%AGENT_BUILDDIRECTORY:\=/%"
            echo "(:tree \"$Env:AGENT_BUILDDIRECTORY\")" > "$Env:LOCALAPPDATA\config\common-lisp\source-registry.conf.d\ci.conf"
        displayName: Install and configure Rowswell

      - powershell: |
            ros -Q -- roswell/run-fiveam.ros -l ci-utils/test :azure-pipelines-tests :base-tests :noncoveralls-tests
        displayName: Run tests
