### Example configuration for Appveyor ###

image: Visual Studio 2017

platform:
    - x64

environment:
  BIT: 64
  COMPILER: msys2
  MSYS2_ARCH: x86_64
  MSYS2_DIR: msys64
  MSYSTEM: MINGW64
  ROSWELL_INSTALL_DIR: C:/Users/appveyor/.roswell/
  PATH: c:\msys64\usr\bin;c:\msys64\mingw64\bin;C:\Users\appveyor\.roswell\bin\;%PATH%
  PLATFORM: x64
  matrix:
    # While multiple implementations can be specified, not all implementations work on Windows/Appveyor
    - LISP: sbcl-bin

# note that the roswell scripts have to explicitly be run through bash,
# since cmd doesn't support shabangs and powershell doesn't support exec
install:
  # Mingw updated package signers, so pacman needs to be informed
  - bash -lc "curl -O http://repo.msys2.org/msys/x86_64/msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz"
  - bash -lc "curl -O http://repo.msys2.org/msys/x86_64/msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz.sig"
  - bash -lc "pacman-key --verify msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz.sig"
  - bash -lc "pacman -U --noconfirm msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz"

  - bash -lc "curl -L https://raw.githubusercontent.com/roswell/roswell/release/scripts/install-for-ci.sh | sh"
  - ros install neil-lindquist/ci-utils #for asdf-register-project and run-fiveam
  - bash -lc "asdf-register-project"
#  - ros install prove #for run-prove
#  - ros install rove #for [run-] rove

build: off

test_script:
  - bash -lc "run-fiveam -e t -l foo/test :foo-tests"
  #- bash -lc "run-prove foo.asd"
  #- bash -lc "rove foo.asd"
